---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes"; // Import the remote theme's styles
@import "aquarius.css";         // Import Aquarius Custom Styles